{%extends 'core/base.html'%}

{% block contenido%}

<div class="card mt-3">
    <table class="table">
        <thead> 
            <th> Codigo </th>
            <th> Nombre del material </th>
            <th> Descripcion </th>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr> 
                    <td> {{material.codigo}}</td>
                    <td> {{material.nombre}}</td>
                    <td> {{material.descripcion}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>  

{% endblock %}